[Desktop Entry]
Name=Koko Tools
Icon=assets/koko-tools-icon.svg
Comment=Koko tools for better life
Exec="/location/to/koko-tools"
Version=1.0
Type=Application
Categories=Office;Utilities;
Terminal=false
StartupNotify=true
